html,body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: violet;
}

#panel{
   
    /* justify-content: center; */
    width: 25%;
    height: 60%;
    background-color: white;
    border-radius: 10px;

}
#fam{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#panel img{
    width: 230px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    
}

button{
    margin-top: 24px;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    background-color: rgb(26, 164, 250);
    border: none;
    margin-left: 30px;
}

#icon i{
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    color: white;
    transition: transfrom ease 0.5s;
    
}

#iconfam{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: flex-start;
}

#icon_2 {
    width: 35px; /* Adjust the width as needed */
    height: 85px; /* Adjust the height as needed */
    /* margin-top: 30px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icon_2 i {
    font-size: 2.5em;
    color: green;
    
    background-color: white;
    border-radius: 100%;
    padding: 0px;
}

/* .ri-heart-fill{
    border: 1px solid black;
} */

.cursor{
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: white;
    mix-blend-mode: difference;
    position: absolute;
    
}

.elem{
    width: 100%;
    height:7rem;
    background-color: black;
    border-bottom: 2px solid red;
    border-top: 2px solid red;
    display: flex;
    color: white;
    
}

footer{
    width: 100%;
    height: 100%;
}

.elem img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    opacity: 0;
    position: absolute;
    mix-blend-mode: difference;
}


/* stories */

#card{
    background-color: bisque;
}